.hero {
    min-height: 100vh;
    background: url('/assets/hero2.jpeg') center/cover no-repeat,
                linear-gradient(to bottom right, rgba(12, 12, 12, 0.89), rgba(0, 0, 0, 0.671));
    position: relative;
}

.hero-content {
    animation: fadeInUp 1.2s ease-out;
}

.btn-custom {
    background-color: #ff7f27;
    color: #fffdfd;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn-custom:hover {
    background-color: #ff6a00;
    transform: translateY(-2px);
}

.hero-content h1 {
    color: #ffffff;
}

.hero-content p{

   font-weight: bold;
   color: #ffffff;
}

/* Optional scroll animation */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}
